<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="button-tops" style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-flat margin w-125"
                    (click)="componentLoad('employee-date-type')">Emp Date Type</button>
                <button type="submit" class="btn btn-primary btn-flat margin w-125"
                    (click)="componentLoad('employee-nominee-update')">Nominee Update</button>
                <button type="submit" class="btn btn-primary btn-flat margin w-125"
                    (click)="componentLoad('update-number')">Other Number Update</button>
                <button type="submit" class="btn btn-primary btn-flat margin w-125">Personal Data Update</button>
                <button type="submit" class="btn btn-primary btn-flat margin w-125"
                    (click)="componentLoad('bank-acc-number')">Bank Account Change Request</button>
                <button type="submit" class="btn btn-primary btn-flat margin w-125">Personal Details Update</button>
            </div>
        </div>
    </div>


</div>