
<section class="w3l-top-header">
  <div class="container-fluid">
      <div class="top-content-w3ls d-flex align-items-center justify-content-between">
          <div class="top-headers">
              <ul>
                  <li>
                      <a href="#">Help Desk &nbsp; <i class="fa fa-phone" aria-hidden="true"></i>&nbsp; 01412924501</a>
                  </li>
              </ul>
          </div>
          <div class="top-headers top-headers-2">
              <ul>
                  <li><a href="#">Skip To Content </a></li>
                  <li><a href="#">Change Text Size or Colour</a></li>
                  
                  <li style="width: 40px;">
                      <div class="dropdown">
                          <span>EN</span>
                          <div class="dropdown-content">
                              <p>Hindi</p>
                          </div>
                      </div>
                  </li>

                  <li style="width: 40px;">
                      <div class="dropdown">
                          <span><i class="fa fa-wheelchair" aria-hidden="true"></i></span>
                          <div class="dropdown-content">
                              <div class="access-type">
                                  <a href="javascript:;" class="changer" title="Decrease Text" id="text_resize_decrease"><sup>-</sup>A</a>
                                  <a href="javascript:;" class="changer" id="text_resize_reset" title="Reset Text">A</a>
                                  <a href="javascript:;" class="changer" id="text_resize_increase" title="Increase Text"><sup>+</sup>A</a>
                                  <div id="text_resize_clear"></div>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li>
                      <a href="#twitter"><span class="fa fa-twitter"></span></a>
                  </li>
                  <li>
                      <a href="#facebook"><span class="fa fa-facebook"></span></a>
                  </li>
                  <li>
                      <a href="#youtube"><span class="fa fa-youtube"></span></a>
                  </li>
                  <li>
                      <a href="#instagram"><span class="fa fa-instagram"></span></a>
                  </li>
                  <li>
                      <!-- search button -->
                      <div class="search-right">
                          <form action="#search" method="GET" class="search-box position-relative">
                              <div class="input-search">
                                  <input type="search" placeholder="Enter Keyword" name="search" required="required" autofocus="" class="search-popup" />
                              </div>
                              <button type="submit" class="btn search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                          </form>
                      </div>
                      <!-- //search button -->
                  </li>
                  <li class="gradient-bg"><a href="#" title="Login">Log Out</a></li>
               <li><a href="#">Back to SSO</a></li>
              </ul>
          </div>
      </div>
  </div>
</section>
<!-- ======= Header ======= -->

<!-- End Header -->
<!-- ======= Hero Section ======= -->
<section class="hero">
 <div class="container-fluid">
      <header id="header" class="d-flex align-items-center header-transparent">
  <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="logo">
          
                <a href="index.html">
                  <span class="logo-sz"><img src="../../assets/images/logo.svg" alt="" class="img-fluid" /></span>
    <!-- <span>Department of Finance</span><br>
    <span>Government of Rajasthan</span><br>
    
    <span><p>Integrated Financial Managment System</p></span> -->
              </a>	
          
      </div>
      <div class="flag">
          
              <img src="../../assets/images/flag.png" style="height: 85px;">
          
      </div>
      <nav id="navbar" class="navbar">
          <ul>
              <li><a class="nav-link scrollto active" href="home.html">Home</a></li>
              <li><a class="nav-link scrollto" href="manual.html">Manual</a></li>
              <li><a class="nav-link scrollto" href="faq.html"> FAQ</a></li>

              <li><a class="nav-link scrollto" href="helpdesk.html"> Helpdesk </a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
  </div>
</header>
  </div>
</section>
  