<!-- Content Wrapper. Contains page content -->
<app-header></app-header>

<div class="content-wrapper ">


    <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
        <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <i _ngcontent-usv-c162="" class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a
                    _ngcontent-usv-c162="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
            </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <a _ngcontent-usv-c162="" routerlink="/main" ng-reflect-router-link="/main" href="/main">Menu</a>
            </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                Employee General Details
            </li>
        </ol>
    </nav>
</div>
<section class="content bg-light">
    <div class="container">
        <div class="headempself">
            <h3>Employee General Details</h3>
        </div>
        <div class="box box-default">
            <div class="headsearch">
                <label for="Emp-ID"><b>Employee ID/Mobile No/Name</b></label>
                <input type="text"><i class="fa fa-search" aria-hidden="true"></i>
                <button type="button" class="btn btn-primary">Search</button>
            </div>
            <fieldset>
                <legend>
                    <div class="Row" style="text-align: center; align-items: center;  padding-top: 10px;">
                        <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                            <div class="section-title">
                                <p>Employee General Details</p>
                            </div>


                        </label>
                    </div>
                </legend>
                <form [formGroup]="EmpPersonalDetailForm">

                    <!-- <div style="height: 15px;">

  </div> -->
            
            
            <!-- <div class="row mt-5">
                <div class="row col-md-4">
                    <div class="col-md-4" >
                        <label class="form-check-label" for="exampleCheck1">Active Flag</label>
                    </div>
                    <div class="col-md-8" >
                        <input type="text" disabled="true" style="width: 100%;"  placeholder="Active">
                    </div>

                </div>

                <div class="row col-md-4">
                    <div class="col-md-5"  >
                        <label style="margin-left:12px ;">Janaadhaar Id</label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" name="q" class="bg-white"  placeholder="Search..." #janaadhaar>
                    </div>

                </div>


                <div class="col-md-4" style="text-align: left;">
                        <button type="submit" name="search" id="search-btn" (click)="GetJanaadhaarData(janaadhaar.value)"
                            class="btn btn-primary " style="margin-left:20px ;">
                            Search
                        </button>
                </div>
            
            </div> -->
                    <!-- 0 -->
                    <!-- <div class="row  mt-5">
                <div class="col-md-3">
                    <div class="input-group mb-2 mr-s">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Mr.</option>
                                    <option value="1">Mis.</option>
                                </select>
                            </div>
                        </div>
                        <select class="form-select" aria-label="Default select example" class="form-control"
                            id="">
                            <option selected></option>
                            <option value="1">Komal</option>
                            <option value="2">Pankaj</option>
                            <option value="3">Devendra</option>
                        </select>
                    </div>
                </div>
            </div> -->
                    <!-- 1 -->
                    <div class="row mt-5">
                        <div class="col-md-4">
                            <label>Name <span class="text-red">*</span> </label>
                            <input type="text" name="text" class="form-control" required="" formControlName="name">
                        </div>
                        <div class="col-md-4">
                            <label for="">Date of Birth <span class="text-red">*</span> </label>
                            <input type="date" name="date" class="form-control" required="" aria-invalid="false">
                        </div>

                        <div class="col-md-4">
                            <label>Gender </label>
                            <select class="form-select" aria-label="Default select example" class="form-control" id="" formControlName="GEN_ID">
                                <option *ngFor="let mst of GenderData" value={{mst.GEN_ID}}> {{mst.GEN_NAME_EN}} </option>
                            </select>
                        </div>
                    
                    </div>                 
                    <!-- 2 -->
                    
                    <div class="row mt-5">
                        <div class="col-md-4">
                            <label>Height </label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="height">
                        </div>
                        <div class="col-md-4">
                            <label for="">Identification Marks <span class="text-red">*</span> </label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="Identification">
                        </div>

                        <div class="col-md-4">
                            <label>Father Name <span class="text-red">*</span> </label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="fname"> </div>
                      
                    


                    </div>

                    <!-- 3 -->

                    <div class="row mt-5">
                        <div class="col-md-4">
                            <label for="">Mother Name </label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="mname"> </div>
                        <div class="col-md-4 ">
                            <label>Marital Status <span class="text-red">*</span> </label>
                            <select class="form-select" aria-label="Default select example" class="form-control" formControlName="M_STATUS_ID" id="">
                                <option *ngFor="let mst of MaritalStatusdata" value={{mst.M_STATUS_ID}}> {{mst.M_STATUS_NAME}} </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Spouse Name</label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="sname"> </div>
                     
                      
                        
                    </div>
                    <!-- 4 -->


                    <div class="row mt-5">
                        <div class="col-md-4">
                            <label for="">Disabled(Yes/No)</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Type of Disability <span class="text-red">*</span> </label>
                            <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                <option *ngFor="let mst of DisabilityTypeData" value={{mst.DISABILITY_ID}}> {{mst.DIS_TYPE_EN}} </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Percentage of Disability</label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false"> </div>
                        
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <label for="">Blood Group</label>
                                <select class="form-select" aria-label="Default select example" class="form-control" formControlName="Blood_Group" id="">
                                    <option *ngFor="let mst of BloodGroupdata" value={{mst.B_GRP_ID}}> {{mst.B_GRP_NAME}} </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Email ID</label>
                                <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="emailid">
                             </div>
                        <div class="col-md-4">
                            <label>Mobile No. <span class="text-red">*</span></label>
                            <input type="text" name="text" class="form-control" required="" aria-invalid="false" formControlName="mobileno">
                         </div>
                        
                        
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4 ">
                                <label>Nationality <span class="text-red">*</span> </label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="" formControlName="nationality">
                                    <option selected>Indian</option>
                                    <!-- <option value="1">China</option>
                            <option value="2">Ruse</option> -->
                                </select>
                            </div>
                            <div class="col-md-4 ">
                                <label for="">Social Category <span class="text-red">*</span> </label>
                                <select class="form-select" aria-label="Default select example" class="form-control" formControlName="CATEGORY_ID" id="">
                                    <option *ngFor="let mst of getCasteCategoryData" value={{mst.CATEGORY_ID}}> {{mst.CAT_NAME_EN}} </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Belongs to Minority</label>
                                <div class="form-control">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        <label class="form-check-label" for="inlineRadio2">No</label>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <label>Employee Category </label>
                                <select formControlName="employeeType" class="form-control form-select">
                                    <option *ngFor="let mst of EmployeeTypedata" value={{mst.STATUS_ID}}>
                                      {{mst.STATUS_NAME}}
                                    </option>
                                  </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Service Category <span class="text-red">*</span> </label>
                                <select class="form-select" aria-label="Default select example" class="form-control" (change)="getSubServiceCategory($event)"   formControlName="service_Category">
                                    <option *ngFor="let mst of getServiceCategoryeData" value={{mst.SRVC_CAT_ID}}> {{mst.SRVC_CAT_NAME_EN}} </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Sub Service Category/cadre </label>
                                <select class="form-select" class="form-control" formControlName="serviceSub_Category">
                                    <option *ngFor="let mst of SubServiceCategorydata" value={{mst.SRVC_SUBCAT_ID}}>
                                      {{mst.SUB_SRVC_CAT_NAME_EN }}
                                    </option>
                                  </select>
                            </div>
                            
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <label>Parent Department</label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                    <option *ngFor="let mst of getDepartmentData" value={{mst.DEPT_ID}}> {{mst.DEPT_NAME_EN}} </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Current Department <span class="text-red">*</span> </label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                    <option *ngFor="let mst of getDepartmentData" value={{mst.DEPT_ID}}> {{mst.DEPT_NAME_EN}} </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Appoinment As <span class="text-red">*</span> </label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                    <option *ngFor="let mst of  getDesignationData" value={{mst.DESG_ID}}> {{mst.DESG_DESC_EN}} </option>
                                </select>
                            </div>
                           
                        </div>
                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <label for="">Current Designation</label>
                                    <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                        <option *ngFor="let mst of   getDesignationData" value={{mst.DESG_ID}}> {{mst.DESG_DESC_EN}} </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="">Order Issuing Authority</label>
                                    <input type="text" name="text" class="form-control" disabled required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                                    <div class="col-md-4">
                                        <label for="">Appoinment Authority</label>
                                        <input type="text" name="text" class="form-control" disabled required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                        </div>
                        <div class="row mt-2">
                        
                            
                        </div>

      
                    <!-- 6 -->
                    <!-- <div class="Row" style="text-align: center; align-items: center;  padding-top: 10px;">
                <label class="p-5 "
                    style="background-color: lightblue; width: 98%; font-weight: bold;">Disability
                    Details</label>
                    
            </div> -->
            
                    <!-- 7 -->
                    <div class="Row" style="text-align: center;">
                        <button id="btnEmpDate" class="btn btn-success margin w-170" routerLink="/EmpIdentityComponent" >Next</button>

                    </div>
                
                </form>
            </fieldset>
            <div class="Row" style="text-align: center;">
                <button class="btn btn-primary margin-2 w-170">Save</button>
                <button class="btn btn-warning margin w-170">Refresh</button>
                <button class="btn btn-info margin-2 w-170">Modify</button>
            </div>
            <app-emp-gen-detail></app-emp-gen-detail>
        </div>
    </div>
</section>
<app-footer></app-footer>