
<app-header></app-header>

<div class="content-wrapper">
    <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
		<ol _ngcontent-usv-c162="" class="breadcrumb">
			<li _ngcontent-usv-c162="" class="breadcrumb-item"> <i _ngcontent-usv-c162=""
					class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a _ngcontent-usv-c162=""
					routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a> </li>
			<li _ngcontent-usv-c162="" class="breadcrumb-item"> <a _ngcontent-usv-c162="" routerlink="/main"
					ng-reflect-router-link="/main" href="/main">Menu</a> </li>
			<li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
				Employe Detailes</li>
		</ol>
	</nav>
	<section class="content">
		<div class="container">
			<div class="box box-default">
				<div class="box-header with-border">
                    <div>
                        <fieldset>
                            <legend>
                                <div class="Row" style="padding-top: 10px;">
                                    <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                                        <div class="section-title">
                                            <p>Employee Bank Details</p>
                                        </div>
                                    </label>
                    
                                </div>
                            </legend>
                            <div class="row  mt-5">
                                <div class="col-md-4">
                                    <div class="topcheck" style="top: 20px; text-align: left;">
                                        <div class="form-check p-0">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <h3 class="form-check-label" for="exampleCheck2"><u><b>Bank Details</b></u>
                                            </h3>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                    
                    
                            <form [formGroup]="bankDetails">
                                <!-- 1 -->
                                <div class="row  mt-5">
                                    <div class="col-md-3">
                                        <label>Bank Account Number </label>
                                        
                                    </div>
                                    <div class="col-md-3">
                                        
                                        <input type="text" name="text" class="form-control"  formControlName="BankAccount">
                                    </div>
                    
                    
                                    <div class="col-md-3">
                                        <label>Ifsc Code </label>
                                        
                                    </div>
                    
                                    <div class="col-md-3">
                                        
                                        <input type="text" name="text" class="form-control"  formControlName="ifscCode">
                                    </div>
                                    
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <label>Bank Name</label>
                                    
                                    </div>
                                    <div class="col-md-3">
                                    
                                        <select class="form-select form-control"  formControlName="bankName" (change)="getBankBranch($event)">
                                            <option *ngFor="let mst of BankData" value={{mst.BANK_ID}}> {{mst.BANK_NAME_EN}} </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Branch Name </label>
                                        
                                    </div>
                                    <div class="col-md-3">
                                     
                                        <select class="form-select form-control" formControlName="branchName">
                                            <option *ngFor="let mst of BankBranchData" value={{mst.BANK_BRANCH_ID}}> {{mst.BRANCH_NAME_EN}} </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 2 -->
                            </form>
                            <div class="Row" style="text-align: center;">
                                <button type="submit" class="btn btn-info btn-flat margin w-100"  (click)="OnSubmit()">Save</button>
                                <button type="reset" class="btn btn-success btn-flat margin w-100"
                                    onclick="reset">Next</button>
                            </div>
                        </fieldset>
                    </div>
                    <div class="Row col-12" style=" text-align: center;">
						<button class="btn btn-primary margin w-170 btnclr " (click)="ComponetLoad('employee-details') ">Employee Personal Details</button>
						<button type="button" class="btn btn-primary margin-2 w-170 btnclr" (click)="ComponetLoad('employeeIdentification')">Employee Identification</button>
						<button  class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('EmployeeService')">Employee-Service-Details</button>
						<button class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('address')"> Address</button>
						<button class="btn btn-primary margin-2 w-120 btnclr" (click)="ComponetLoad('familyDetails')">Family Details</button>
						<button  class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('bank-details')">Bank Details</button>
						<button  class="btn btn-primary margin-2 w-120 btnclr" (click)="ComponetLoad('pay-entitlement')">Pay Entitlement</button>
						<button class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('document')">Documents</button>
						<button class="btn btn-primary margin w-170 btnclr"   (click)="ComponetLoad('EmpDate')">Employee Dates</button>
                        
					</div>
                    
				</div>
			</div>
		</div>
	</section>
</div>
<app-footer></app-footer>