<!-- Content Wrapper. Contains page content -->
<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->
<div class="content-wrapper ">
 
        <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
          <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
              <i _ngcontent-usv-c162="" class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a _ngcontent-usv-c162="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
            </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
              <a _ngcontent-usv-c162="" routerlink="/main" ng-reflect-router-link="/main" href="/main">Menu</a>
            </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">Inbox</li>
          </ol>
        </nav>
  




      <section class="content ">
        <div class="box box-default">
        <div class="row p-2 pb-0 mb-0">
          <div class="section-title aos-init aos-animate col-md-10 pb-0 mb-0" data-aos="fade-up">
           
            <button type="button" class="btn btn-primary mb-4">Inbox List</button>
          </div>
         
        </div>


        <div>
        
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th >Reference No. </th>
                <th>Discription</th>
                <th>Initiator</th>
                <th>Initiator Date</th>
                <th>Requested Form</th>
                <th>pending Since</th>
                <th>Action</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href="#"><u>RHEN000001</u></a></td>
                <td>Employee Registration</td>
                <td>Aavya Chobey</td>
                <td>04-05-2022 01:02:56 AM</td>
                <td>Aavya Chobey</td>
                <td>01-05-2022 01:02:56 AM</td>
                <td><button type="button" class="btn btn-success">Create</button></td>
                <td></td>
              </tr>
              
              
            </tbody>
          </table>
    
          <!-- <div class="text-center">
            <button type="button" class="btn btn-primary text-center">Back to Menu</button>
          </div> -->
        </div>
      </div>
      </section>

</div>
<app-footer></app-footer>