


<app-header></app-header>
<!-- <app-sidebar></app-sidebar> -->


<div class="content-wrapper ">

  

        <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
          <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
              <i _ngcontent-usv-c162="" class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a _ngcontent-usv-c162="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
            </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
              <a _ngcontent-usv-c162="" routerlink="/main" ng-reflect-router-link="/main" href="/main">Menu</a>
            </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">Main</li>
          </ol>
        </nav>
   
    

<section id="contact" class="contact mt-5">
  
    <div class="container">
      <div class="justify-content-between">
        <div class="row">
          <div class="login-form col-lg-4 mt-5">
            <div data-wow-duration="700ms" data-wow-delay="300ms" class="brand-content wow fadeIn animated yellow" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeIn; margin: 0!important;">
              <div class="media-body txt scrool-message features">
                <h4 class="mb-1">
                  <b>Task List</b>
                </h4>
                <div data-aos="fade-left" class="row aos-init aos-animate">
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fa-solid fa fa-inbox"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a href="/inbox">Inbox</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="150" class="icon-box aos-init aos-animate">
                      <i class="fa fa-paper-plane" style="color: #e80368 !important;font-size: 22px;"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a routerlink="/Send" ng-reflect-router-link="/Send" href="/Send" >SendBox</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="200" class="icon-box aos-init">
                        <i class="fa fa-file" style="    color: #e361ff !important;    font-size: 24px;"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a routerlink="/Draft" ng-reflect-router-link="/Draft" href="Draft">Drafts</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="login-form col-lg-4 mt-5">
            <div data-wow-duration="700ms" data-wow-delay="300ms" class="brand-content wow fadeIn animated yellow" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeIn; margin: 0!important;">
              <div class="media-body txt scrool-message features">
                <div class="row">
                  <div class="col-lg-8">
                    <h4 class="mb-1">
                      <b>Employee Management </b>
                    </h4>
                  </div>
                </div>
                


             
                <div data-aos="fade-left" class="row aos-init aos-animate">

                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fas fa fa-address-book"></i>
                      <h3>
                          <a routerLink="/employee-details"> Employee Details</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fas fa fa-address-book"></i>
                      <h3>
                          <a routerLink="/ESS-Req"> Employee Self Service</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fas fa fa-address-book"></i>
                      <h3>
                          <a routerLink="/EmpMstComponent"> Employee Master</a>
                      </h3>
                    </div>
                  </div>


                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fas fa fa-address-book"></i>
                      <h3>
                          <a routerLink="/employe_registration">Employee Registration</a>
                      </h3>
                    </div>
                  </div>
               
               <!--    <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="200" class="icon-box aos-init">
                      <i class="ri-paint-brush-line"></i>
                      <h3>
                        <a>Split &amp; Merge Office</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="250" class="icon-box aos-init aos-animate">
                      <i class="bi bi-cash-stack"></i>
                      <h3>
                        <a>Modify Office</a>
                      </h3>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="login-form col-lg-4 mt-5">
            <div data-wow-duration="700ms" data-wow-delay="300ms" class="brand-content wow fadeIn animated yellow" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeIn; margin: 0!important;">
              <div class="media-body txt scrool-message features">
                <h4 class="mb-1">
                  <b>Post Management</b>
                </h4>
                <div data-aos="fade-left" class="row aos-init aos-animate">
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                        <i class="fa fa-file" style="    color: #e361ff !important;font-size: 24px;"></i>
                      <h3>
                        <a>Post &amp; Designation Creation </a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="150" class="icon-box aos-init aos-animate">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <h3>
                        <a>Post Distribution</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="login-form col-lg-4 mt-5">
            <div data-wow-duration="700ms" data-wow-delay="300ms" class="brand-content wow fadeIn animated yellow" style="visibility: visible; animation-duration: 700ms; animation-delay: 300ms; animation-name: fadeIn; margin: 0!important;">
              <div class="media-body txt scrool-message features">
                <h4 class="mb-1">
                  <b>Task List</b>
                </h4>
                <div data-aos="fade-left" class="row aos-init aos-animate">
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="100" class="icon-box aos-init aos-animate">
                      <i class="fa-solid fa fa-inbox"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a href="/inbox">Inbox</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="150" class="icon-box aos-init aos-animate">
                      <i class="fa fa-paper-plane" style="color: #e80368 !important;font-size: 22px;"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a routerlink="/Send" ng-reflect-router-link="/Send" href="/Send" >SendBox</a>
                      </h3>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 mb-1">
                    <div data-aos="zoom-in" data-aos-delay="200" class="icon-box aos-init">
                        <i class="fa fa-file" style="    color: #e361ff !important;    font-size: 24px;"></i>
                      <h3 matbadgeposition="after" matbadgesize="medium" matbadgeoverlap="false" class="mat-badge mat-badge-above mat-badge-after mat-badge-medium mat-badge-hidden" ng-reflect-position="after" ng-reflect-size="medium" ng-reflect-overlap="false" ng-reflect-content="">
                        <a routerlink="/Draft" ng-reflect-router-link="/Draft" href="Draft">Drafts</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
 
<div>


  <app-footer></app-footer>