<app-header></app-header>
<div class="content-wrapper">
    <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
        <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item"> <i _ngcontent-usv-c162=""
                    class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a _ngcontent-usv-c162=""
                    routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a> </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item"> <a _ngcontent-usv-c162="" routerlink="/main"
                    ng-reflect-router-link="/main" href="/main">Menu</a> </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                Employe Detailes</li>
        </ol>
    </nav>
    <section class="content">
        <div class="container">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div>

                        <fieldset>
                            <legend>
                                <div class="Row" style="padding-top: 10px;">
                                    <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                                        <div class="section-title">
                                            <p>Employee Service Details</p>
                                        </div>
                                    </label>
                                </div>
                            </legend>
                            <form [formGroup]="EmpService">
                                <!-- 1 -->
                                <div class="row  mt-5">
                                    <div class="col-md-3">
                                        <label>Entitlement Status </label>
                                    </div>

                                    <div class="col-md-3">
                                        <input type="text" name="text" class="form-control" formControlName="Status" [ngClass]="{'is-invalid':submitted && EmpService.controls['Status'].errors}">
                                        <div *ngIf="submitted && EmpService.controls['Status'].errors"
                                        class="text-danger">
                                        <div
                                          *ngIf="submitted && EmpService.controls['Status'].errors['required']">
                                          Please Enter Entitlement Status
                                        </div>
                                      </div>
                                    </div>



                                    <div class="col-md-3">
                                        <label>Employee Type </label>

                                    </div>

                                    <div class="col-md-3">

                                        <select formControlName="employeeType" class="form-control form-select">
                                            <option *ngFor="let mst of EmployeeTypedata" value={{mst.STATUS_ID}}>
                                                {{mst.STATUS_NAME}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <label for="">Service Category <span class="text-red">*</span> </label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select" aria-label="Default select example"
                                            class="form-control" (change)="getSubServiceCategory($event)"
                                            formControlName="service_Category">
                                            <option *ngFor="let mst of getServiceCategoryeData"
                                                value={{mst.SRVC_CAT_ID}}> {{mst.SRVC_CAT_NAME_EN}} </option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label for="">Sub Service Category/cadre </label>

                                    </div>
                                    <div class="col-md-3">

                                        <select class="form-select" class="form-control"
                                            formControlName="serviceSub_Category">
                                            <option *ngFor="let mst of SubServiceCategorydata"
                                                value={{mst.SRVC_SUBCAT_ID}}>
                                                {{mst.SUB_SRVC_CAT_NAME_EN }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 2 -->

                                <div class="row  mt-5">
                                    <div class="col-md-3">
                                        <label for="">Gazetted/ Non-Gazetted </label>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select form-control" >
                                            <option value="-1">--Gazetted/ Non-Gazetted--</option>
                                            <option value="Gazetted">Gazetted</option>
                                            <option value="Non-Gazetted ">Non-Gazetted </option>
                                        </select>
                                      
                                    </div>

                                    <div class="col-md-3">
                                        <label for="">Service Quota <span class="text-red">*</span> </label>
                                    </div>
                                    <div class="col-md-3">
                                        <select formControlName="ServiceQuota" class="form-control form-select">
                                            <option *ngFor="let mst of getServiceQuotaData" value={{mst.QUOTA_ID}}>
                                                {{mst.QUOTA_NAME_EN}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row mt-5">

                                    <div class="col-md-3">
                                        <label>Parent Department</label>

                                    </div>
                                    <div class="col-md-3">

                                        <select class="form-select form-control" formControlName="ParentDepartment" aria-label="Default select example"  id="">
                                            <option *ngFor="let mst of getDepartmentData" value={{mst.DEPT_ID}}> {{mst.DEPT_NAME_EN}} </option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">Current Department <span class="text-red">*</span> </label>

                                    </div>
                                    <div class="col-md-3">

                                        <select class="form-select form-control" aria-label="Default select example" formControlName="CurrentDepartment">
                                            <option *ngFor="let mst of  getDesignationData" value={{mst.DESG_ID}}> {{mst.DESG_DESC_EN}} </option>
                                        </select>
                                    </div>
                                </div>
                                <!-- 3 -->


                                <div class="row  mt-5">
                                    <div class="col-md-3">
                                        <label for="">Current Designation</label>

                                    </div>

                                    <div class="col-md-3">

                                        <select class="form-select form-control" aria-label="Default select example"  formControlName="CurrentDesignation">
                                            <option *ngFor="let mst of   getDesignationData" value={{mst.DESG_ID}}> {{mst.DESG_DESC_EN}} </option>
                                        </select>
                                    </div>


                                    <div class="col-md-3">
                                        <label>Appointment Order No. <span class="text-red">*</span> </label>

                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="text" class="form-control" formControlName="AppointmentOrder" [ngClass]="{'is-invalid':submitted && EmpService.controls['AppointmentOrder'].errors}">
                                        <div *ngIf="submitted && EmpService.controls['AppointmentOrder'].errors"
                                        class="text-danger">
                                        <div
                                          *ngIf="submitted && EmpService.controls['AppointmentOrder'].errors['required']">
                                          Please Enter Appointment Order No.
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                   

                                    <div class="col-md-3">
                                        <label>Appointed As <span class="text-red">*</span> </label>

                                    </div>
                                    <div class="col-md-3">

                                        <select class="form-select form-control" aria-label="Default select example" formControlName="AppointedAs">
                                            <option *ngFor="let mst of  getDesignationData" value={{mst.DESG_ID}}> {{mst.DESG_DESC_EN}} </option>
                                        </select>
                                    </div>

                                </div>
                                <!-- 4 -->
                                <!-- 6 -->
                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <label for="">Order Issuing Authority / Office </label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" name="text" class="form-control" formControlName="OrderIssuingAuthority"
                                            >
                                    </div>

                                    <div class="col-md-3">
                                        <label>GRP/Pran Type <span class="text-red">*</span> </label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" name="text" class="form-control" formControlName="GRPPran">
                                    </div>


                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <label for="">State Insurance Number <span class="text-red">*</span> </label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="date" name="date" class="form-control" formControlName="StateInsuranceNumber">
                                    </div>
                                    <div class="col-md-3">
                                        <label for="">RGHS No.</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="text" class="form-control" formControlName="RGHSNo">
                                    </div>
                                </div>
                                <!-- 8 -->
                                <div class="row  mt-5">
                                    <div class="col-md-3">
                                        <label>GPF No.</label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" name="text" class="form-control" formControlName="GPFNo">
                                    </div>

                                    <div class="col-md-3">
                                        <label for="">Belt No. <span class="text-red">*</span> </label>

                                    </div>

                                    <div class="col-md-3">

                                        <input type="text" name="date" class="form-control" formControlName="BeltNo">
                                    </div>

                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-3">
                                        <label for="">PLI No.</label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" name="text" class="form-control" formControlName="PLINo">
                                    </div>
                                    <div class="col-md-3">
                                        <label>I.A.S CPNF No.</label>

                                    </div>
                                    <div class="col-md-3">

                                        <input type="text" name="text" class="form-control" formControlName="IAS_CPNF">
                                    </div>
                                </div>
                            </form>
                            <div class="Row" style="text-align: center;">
                                <button type="submit" class="btn btn-info btn-flat margin w-100" (click)="OnSubmit()">Save</button>
                                <button type="reset" class="btn btn-success btn-flat margin w-100"
                                    onclick="reset">Next</button>
                            </div>
                        </fieldset>
                    </div>
                    <div class="Row col-12" style=" text-align: center;">
						<button class="btn btn-primary margin w-170 btnclr " (click)="ComponetLoad('employee-details') ">Employee Personal Details</button>
						<button type="button" class="btn btn-primary margin-2 w-170 btnclr" (click)="ComponetLoad('employeeIdentification')">Employee Identification</button>
						<button  class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('EmployeeService')">Employee-Service-Details</button>
						<button class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('address')"> Address</button>
						<button class="btn btn-primary margin-2 w-120 btnclr" (click)="ComponetLoad('familyDetails')">Family Details</button>
						<button  class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('bank-details')">Bank Details</button>
						<button  class="btn btn-primary margin-2 w-120 btnclr" (click)="ComponetLoad('pay-entitlement')">Pay Entitlement</button>
						<button class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('document')">Documents</button>
						<button class="btn btn-primary margin w-170 btnclr" (click)="ComponetLoad('EmpDate')">Employee Dates</button>
					</div>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>