<div class="Row col-12" style="padding-bottom: 30px; text-align: center;">
    <button type="button" id="btnEmpPersonal" class="btn btn-primary margin-2 w-170 btnclr" (click)="activeBtn('btnEmpPersonal')" routerLink="/EmpMstComponent" >Employee General Details</button>
            <button id="btnEmpService" class="btn btn-primary margin w-170 btnclr" (click)="activeBtn('btnEmpService')" routerLink="/EmpIdentityComponent" >Employee Id Number</button>
            <button id="btnEmpDate" class="btn btn-primary margin w-170 btnclr" (click)="activeBtn('btnEmpDate')" routerLink="/EmpDateComponent" >Employee Date</button>
            <button id="btnEmpAddress"  routerLink="/EmpAddressComponent" (click)="activeBtn('btnEmpAddress')" class="btn btn-primary margin w-170 btnclr">Employee Address</button>
            <button id="btnEmpFamily"  routerLink="/EmpFamilyDetailComponent" (click)="activeBtn('btnEmpFamily')" class="btn btn-primary margin-2 w-120 btnclr">Family Details</button>
            <button id="btnEmpBank"  routerLink="/EmpBankAcDetailComponent" (click)="activeBtn('btnEmpBank')" class="btn btn-primary margin w-170 btnclr">Bank Details</button>
            <button id="btnEmpPay" routerLink="/EmpPayEComponent" (click)="activeBtn('btnEmpPay')" class="btn btn-primary margin-2 w-120 btnclr">Pay Entitlement</button>
            <button id="btnEmpDoc"  routerLink="/EmpDocComponent" (click)="activeBtn('btnEmpDoc')" class="btn btn-primary margin w-170 btnclr">Employee Documents</button>
</div>