<!-- Content Wrapper. Contains page content -->
<app-header></app-header>

<div class="content-wrapper ">


    <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
        <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <i _ngcontent-usv-c162="" class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a
                    _ngcontent-usv-c162="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
            </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <a _ngcontent-usv-c162="" routerlink="/main" ng-reflect-router-link="/main" href="/main">Menu</a>
            </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                Employee Date
            </li>
        </ol>
    </nav>
</div>
<section class="content bg-light">
    <div class="container">
        <div class="headempself">
            <h3>Employee Date</h3>
        </div>
        <div class="box box-default">
            
            <fieldset>
                <legend>
                    <div class="Row" style="text-align: center; align-items: center;  padding-top: 10px;">
                        <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                            <div class="section-title">
                                <p>Employee Date</p>
                            </div>

                            
                        </label>
                    </div>
                </legend>
                <form>
                    <div class="row  mt-5">
                        <div class="col-md-4">
                            <label for="">Appointment Order Date <span class="text-red">*</span> </label>
                            <input type="date" name="date" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                    
                        <div class="col-md-4">
                            <label for="">Annual Increment Opted Date <span class="text-red">*</span> </label>
                            <input type="date" name="date" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                        <div class="col-md-4">
                            <label for="">Superanuation Date <span class="text-red">*</span> </label>
                            <input type="date" name="date" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                        </div>
                        <div class="row  mt-5">
                            <div class="col-md-3">
                                <label for="">Joining / Charge Taken Date <span class="text-red">*</span> </label>
                                <input type="date" name="date" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                            <div class="col-md-3">
                                <label for="">Joining Time</label>
                                <input type="text" name="text" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                            
                        </div>
                </form>
                <div class="Row" style="text-align: center;">
                    <button  class="btn btn-success margin w-170 btnclr"  routerLink="/EmpIdentityComponent">Back</button>
                        <button class="btn btn-success margin w-170 btnclr" routerLink="/EmpAddressComponent">Next</button>
                </div>
            </fieldset>
            <div class="Row" style="text-align: center;">
                <button class="btn btn-primary margin-2 w-170">Save</button>
                <button class="btn btn-warning margin w-170">Refresh</button>
                <button class="btn btn-info margin-2 w-170">Modify</button>
            </div>
            <app-emp-gen-detail></app-emp-gen-detail>
        </div>
    </div>
</section>
<app-footer></app-footer>