<!-- Content Wrapper. Contains page content -->
<app-header></app-header>

<div class="content-wrapper ">


    <nav _ngcontent-usv-c162="" aria-label="breadcrumb">
        <ol _ngcontent-usv-c162="" class="breadcrumb">
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <i _ngcontent-usv-c162="" class="fa text-primary fa-home" style="font-size:19px"></i>&nbsp; <a
                    _ngcontent-usv-c162="" routerlink="/login" ng-reflect-router-link="/login" href="/login">Login</a>
            </li>
            <li _ngcontent-usv-c162="" class="breadcrumb-item">
                <a _ngcontent-usv-c162="" routerlink="/main" ng-reflect-router-link="/main" href="/main">Menu</a>
            </li>
            <li _ngcontent-usv-c162="" aria-current="Inbox" aria-label="Current Page" class="breadcrumb-item active">
                Family Details
            </li>
        </ol>
    </nav>
</div>
<section class="content bg-light">
    <div class="container">
        <div class="headempself">
            <h3>Employee Family Details</h3>
        </div>
        <div class="box box-default">
            
            <fieldset>
                <legend>
                    <div class="Row" style="text-align: center; align-items: center;  padding-top: 10px;">
                        <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                            <div class="section-title">
                                <p>Employee Family Details</p>
                            </div>

                            
                        </label>
                    </div>
                </legend>
                <form action="">
						
                            

                    <div class="Row" style="text-align: center">
                        <table class="table table-border">
                            <thead>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Name</th>
                                    <th>Relationship</th>
                                    <th>Gender</th>
                                    <th>Date Of Birth</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> </tr>
                            </tbody>
                        </table>
                    </div>





                    <div class="row  mt-5">
                        <div class="col-md-4">
                            <div class="topcheck" style="top: 20px; text-align: left;">
                                <div class="form-check p-0">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck2">Family Member Details</label>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- <button class="toggle-button" igxButton="raised" (click)="toggleContent()">Toggle</button> -->
                    <!-- 1 -->

                    <div class="row">
                        <div class="col-md-4">
                            <label>Name </label>
                                <input type="text" name="text" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false">
                        </div>

                        <div class="col-md-4">
                            <label>Relationship</label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                    <option *ngFor="let mst of FamilyData" value={{mst.RELATION_ID}}> {{mst.R_NAME_EN}} </option>
                                </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Date of Birth <span class="text-red">*</span> </label>
                            <input type="date" name="date" class="form-control" required="" aria-invalid="false"> 
                        </div>
                    </div>

                    <!-- 2 -->
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label>Gender </label>
                            <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                <option *ngFor="let mst of GenderData" value={{mst.GEN_ID}}> {{mst.GEN_NAME_EN}} </option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Marital Status</label>
                            <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                <option *ngFor="let mst of MaritalStatusdata" value={{mst.M_STATUS_ID}}> {{mst.M_STATUS_NAME}} </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Physically Disabled </label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pd1" value="option1">
                                    <label class="form-check-label" for="pd1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pd2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>



<!-- 
                    <div class="row  mt-5" class="toggle-content" igxToggle>
                        <section class="toggle-section">
                            <div class="col-md-4">
                                <label>Name </label>
                                <input type="text" name="text" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false">
                             </div>



                            <div class="col-md-4">
                                <label>Relationship</label>
                                <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                    <option selected>Relationship </option>
                                    <option value="1">Wife</option>
                                    <option value="2">Husband</option>
                                    <option value="3">Son</option>
                                </select>
                            </div>


                            <div class="col-md-4">
                                <label for="">Date of Birth <span class="text-red">*</span> </label>
                                <input type="date" name="date" class="form-control" required="" aria-invalid="false"> 
                            </div>


                            
                            <div class="row pr-0 col-md-3">
                                <div class="col-md-6 pr-0">
                                    <label>Gender </label>
                                    <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                        <option *ngFor="let mst of GenderData" value={{mst.GEN_ID}}> {{mst.GEN_NAME_EN}} </option>
                                    </select>
                                </div>
                                <div class="col-md-6 pr-0">
                                    <label>Marital Status</label>
                                    <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                        <option *ngFor="let mst of MaritalStatusdata" value={{mst.M_STATUS_ID}}> {{mst.M_STATUS_NAME}} </option>
                                    </select>
                                </div>
                            </div>
                        </section>
                    </div> -->


                    <!-- 2 -->
                    <div class="row  mt-5">
                    
                        <div class="col-md-4">
                            <label>Percentage Of Disability </label>
                            <input type="text" name="text" class="form-control" required="" data-validation-required-message="This field is required" aria-invalid="false"> </div>
                        <div class="col-md-4">
                            <label for="">Dependent  Income</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dep1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="dep2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Employed</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="emp11" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="emp2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 3 -->
                    <div class="row  mt-5"> 
                        <div class="col-md-4">
                            <label for="">Nominee</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="n1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="n2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">SI Nomination</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="si1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="si2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">PF Nomination</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pf1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="pf2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row  mt-5"> 
                        <div class="col-md-4">
                            <label for="">GPF Nomination</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gpf1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gpf2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">GIS Nomination</label>
                            <div class="form-control">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gis1" value="option1">
                                    <label class="form-check-label" for="inlineRadio1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="gis2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--                 
                    <div class="Row" style="padding-top: 10px;">
                        <label class="p-5 bg-light-blue" style=" font-weight: bold;">
                            <div class="section-title">
                                <p>Nominee Details</p>
                            </div>
                        </label>
                        <hr> 
                    </div> -->



                    <!-- <div class="Row">
                        <table class="table table-border">
                            <thead>
                                <tr>
                                    <th>Schemes</th>
                                    <th>Name of Nominee</th>
                                    <th>Relation</th>
                                    <th>share %</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                            <option selected>Select Scheme</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="Name" />
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default select example" class="form-control" id="">
                                            <option *ngFor="let mst of FamilyData" value={{mst.RELATION_ID}}> {{mst.R_NAME_EN}} </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" placeholder="share" />
                                    </td>
                                    <td>
                                        <button class="btn-info">Add</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </form>
                <div class="Row" style="text-align: center;">
                    <button  class="btn btn-success margin w-170 btnclr" routerLink="/EmpAddressComponent">Back</button>
                    <button class="btn btn-success margin w-170 btnclr" routerLink="/EmpBankAcDetailComponent">Next</button>
                </div>
            </fieldset>
            <div class="Row" style="text-align: center;">
                <button class="btn btn-primary margin-2 w-170">Save</button>
                <button class="btn btn-warning margin w-170">Refresh</button>
                <button class="btn btn-info margin-2 w-170">Modify</button>
            </div>
            <app-emp-gen-detail></app-emp-gen-detail>

        </div>
    </div>
</section>
<app-footer></app-footer>